<section class="card-cover__container">
  <div class="card-cover__header">
    <div class="card-cover__first-image">
      <img src="./assets/blog-img3.jpg" alt="Cat">
    </div>
    <div class="card-cover__second-image">
      <img src="./assets/blog-img2.jpg" alt="Cat">
    </div>
  </div>
  <div class="card-cover__sub">
    <span class="tag">
      Quizz
    </span>
    <span class="card-cover__info">
      <span class="card-cover__date">
        Dez 18
      </span>
      <span class="card-cover__read">
        4 Min read
      </span>
    </span>
  </div>
  <div class="card-cover__main">
    <h3 class="card-cover__title">
      <a [routerLink]="['quizz', id]">
        Descubra qual gato você seria com base na sua personalidade
      </a>
    </h3>
    <p class="card-cover__description">
      Você gosta de gatos? Já pensou como você seria se você um? Qual seria a sua raça, como seria a sua vida, a sua aparência, seus donos, o que iria fazer?
      <br><br>
      A partir da sua personalidade, costumes e jeito de viver, com este teste conseguimos ter uma ideia de qual raça se encaixaria com você, assim você saberá qual o tipo de gato você seria se também fosse um deles!
    </p>
  </div>
  <div class="card-cover__footer">
    <a [routerLink]="['quizz', id]">Read more</a>
  </div>
</section>
