@media screen and (min-width: 680px) {
  .card-cover__header {
    height: min(330px, 25vw);
  }

  .card-cover__first-image {
    display: block;
  }

  /* COVER MAIN */

  .card-cover__main {
    flex-flow: row nowrap;
  }

  .card-cover__title {
    width: 50%;
  }

  .card-cover__title a {
    font-size: 3rem;
  }

  .card-cover__description {
    width: 50%;
  }

  /* CARD FOOTER */

  .card-cover__footer a {
    margin-top: 0;
  }
}
