.article__back {
  color: #000;
  display: inline-block;
  margin: 20px 0;
  padding: 6px 12px;
  border: 1px solid #000;
  border-radius: 3px;

  transition: 350ms;
}

.article__back:hover {
  background-color: #1111171b;
}

.article__banner {
  height: 220px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.article__banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.article__title {
  padding: 10px 0;
}

.article__title h1 {
  font-size: 2rem;
}

.article__title {
  font-size: 1rem;
}

hr {
  margin: 40px 20%;
}

@media screen and (min-width: 680px) {
  .article__banner {
    height: min(400px, 30vw);
  }

  .article__title h1 {
    font-size: 2.5rem;
  }

  .article__title {
    padding: 30px 0;
  }
}
