.footer__container {
  padding: 40px 80px;
}

.footer__item {
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 10px;
  width: fit-content;
  width: min(300px, 100vw);
  color: #000;

  transition: 200ms;
}

.footer__item:hover {
  color: #1171d1;
}

p {
  color: #515559;
  margin-top: 60px;
  text-align: center;
}
