<section class="card-cover__container">
  <div class="card-cover__header">
    <div class="card-cover__first-image"></div>
    <div class="card-cover__second-image"></div>
  </div>
  <div class="card-cover__sub">
    <span class="tag">
      Gatos
    </span>
    <span class="card-cover__info">
      <span class="card-cover__date">
        Nov 22
      </span>
      <span class="card-cover__read">
        10 Min read
      </span>
    </span>
  </div>
  <div class="card-cover__main">
    <h3 class="card-cover__title">So here are the article title</h3>
    <p class="card-cover__description">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint laboriosam maxime ipsa harum, commodi dolorum quae repudiandae officiis cupiditate illo odio obcaecati perspiciatis consequatur rerum, voluptatem modi magnam minus quos.
    </p>
  </div>
  <div class="card-cover__footer">
    <button>Read more</button>
  </div>
</section>
