.small-card__container {
  display: flex;
  gap: 0px;
  height: 110px;
  margin: 15px 0 30px;
  transition: 400ms;
  border-radius: 5px;
  padding: 0 4px;
}

.small-card__container:hover {
  background-color: #0598b210;
}

.small-card__left {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 60%;
  height: 100%;
}

.small-card__header .tag {
  display: inline-block;
  color: #0598b2;
  border: 1px solid currentColor;
  padding: 4px 12px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: .6rem;
  user-select: none;
}

.small-card__title {
  font-size: 1rem;
  color: #000;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.small-card__info {
  text-transform: capitalize;
  font-style: italic;
  font-size: 0.8rem;
  display: flex;
  opacity: .5;
  color: #000;
}

.small-card__date::after {
  content: '•';
  margin: 0 10px;
  opacity: .8;
}

.small-card__right {
  width: 40%;
  height: inherit;
  overflow: hidden;
}

.small-card__banner img {
  background-color: blue;
  width: 100%;
  height: 110px;
  object-fit: cover;
}
