<a class="small-card__container"  [routerLink]="['article', id]">
  <div class="small-card__left">
    <div class="small-card__header">
      <span class="tag">
        Gatos
      </span>
    </div>
    <h5 class="small-card__title">
      {{ title }}
    </h5>
    <div class="small-card__info">
      <span class="small-card__date">
        Nov 22
      </span>
      <span class="small-card__read">
        10 Min read
      </span>
    </div>
  </div>
  <div class="small-card__right">
    <div class="small-card__banner">
      <img src="{{ imageUrl }}" alt="{{ title }}">
    </div>
  </div>
</a>
