.quizz__container {
  background-color: red;
}

.quizz__header h1 {
  text-align: center;
  font-size: 5rem;
  margin: 20px 0;
}

.quizz__header h2 {
  font-weight: 100;
  text-align: center;
  margin-bottom: 30px;
  font-size: 1.4rem;
}

.quizz__question h3 {
  background-color: #843ba8;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: min(200px, 20vh);
  padding: 30px;
  font-size: 2rem;
  text-align: center;
  border-radius: 10px;
}

.quizz__options {
  margin: 30px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  border: 1px solid #408c31;
  border-radius: 10px;
  overflow: hidden;
}

.quizz__option-btn {
  background-color: transparent;
  flex-grow: 1;
  min-width: 30%;
  padding: 16px;
  border: 1px solid #408c31;

  cursor: pointer;
  transition: 200ms;
}

.quizz__option-btn:hover {
  background-color: #408c31;
}

.quizz__result {
  background-color: #00000042;
  display: flex;
  flex-flow: column nowrap;
  gap: 14px;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  padding: 30px;
  border-radius: 10px;
}

.quizz__result h3 {
  font-size: 1.2rem;
}

.quizz__result p {
  font-size: 2.2rem;
  color: #cb64ff;
}
