.navbar__container {
  position: sticky;
  top: 0;
  background-color: #fbfbf9;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.navbar__toggle {
  background-color: #5091d2;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  border: none;

  cursor: pointer;
  transition: 350ms;
}

.navbar__toggle:hover {
  background-color: #3e7bb8;
}

nav {
  width: 100%;
  display: none;
}

.active {
  display: block;
  padding-bottom: 10px;
  border-bottom: 4px solid #00000093;
}

.toggle__icon {
  background-color: #fff;
  display: inline-block;
  width: 24px;
  height: 2px;

  position: relative;
}

.toggle__icon::before, .toggle__icon::after {
  content: '';
  background-color: inherit;
  display: block;
  width: 24px;
  height: 2px;
  top: -6px;
  position: absolute;
}

.toggle__icon::after {
  top: 6px;
}

.toggle__icon-active {
  background-color: transparent;
  display: inline-block;
  position: relative;
}

.toggle__icon-active::before, .toggle__icon-active::after {
  content: '';
  background-color: #fff;
  display: block;
  width: 24px;
  height: 2px;
  position: absolute;
  top: 0;
  transform: rotate(45deg);
}

.toggle__icon-active::after {
  transform: rotate(-45deg);
}

a {
  color: #515559;
  font-weight: 900;
  padding: 10px 0;
  margin: 2px 0;
  display: block;
  text-align: center;

  transition: 200ms;
  cursor: pointer;
}

a:hover {
  color: #5091d2;
}

hr {
  margin: 16px auto;
  border: 1px solid #0000002f;
}

.navbar__h2 {
  color: #00000047;
  display: block;
  margin: -15px 0 0 0;
  padding: 10px 0;

  font-weight: 900;
  font-size: .8rem;
  text-align: center;
  text-transform: uppercase;
  user-select: none;
}
