.navbar-container {
  display: block;
  padding: 16px 20px;
}

a {
  color: #515559;
  font-weight: 900;
  padding: 10px 0;
  margin: 2px 0;
  display: block;

  transition: 200ms;
  cursor: pointer;
}

a:hover {
  color: #5091d2;
}

hr {
  margin: 16px 0;
  border: 1px solid #00000028;
}

.navbar__h2 {
  color: #0000003c;
  font-weight: 900;
  padding: 10px 0;
  margin: -20px 0 0 0;
  display: block;
}

.navbar__contact::after {
  background: url('/assets/box-arrow-up-right.svg') no-repeat;
  background-size: cover;
  content: '';
  display: inline-block;
  margin-left: .9rem;
  width: 1.1rem;
  height: 1.1rem;
  vertical-align: sub;

  visibility: hidden;
  opacity: 0;
  transform: translateY(20px);
  transition: 400ms;
}

.navbar__contact:hover::after {
  visibility: visible;
  opacity: 1;
  transform: translateY(-2px);
}
