<div class="navbar-container">
  <nav>
    <ul>
      <li><a href="/">Home Page</a></li>
      <li><a href="/">Articles</a></li>
      <li><a href="/">Projects</a></li>
      <li><a href="/">About Me</a></li>
      <hr>
      <li><a class="navbar__contact" target="__blank" href="https://github.com/Refusado">Github</a></li>
      <li><a class="navbar__contact" target="__blank" href="https://www.linkedin.com/in/refu/">Linkedin</a></li>
      <li><a class="navbar__contact" target="__blank" href="https://discord.com/users/412685400847679508">Discord</a></li>
      <li><a class="navbar__contact" target="__blank" href="mailto:renanfreitas.contato@gmail.com">E-mail</a></li>
    </ul>
  </nav>
</div>
