<a class="main-card__container" [routerLink]="['article', id]">
  <div class="main-card__banner"
    [style]="'background-image: url(' + imageUrl + ')'"
  ></div>
  <div class="main-card__main">
    <div class="main-card__sub">
      <span class="tag">
        Gatos
      </span>
    </div>
    <h4 class="main-card__title">
      {{ title }}
    </h4>
    <span class="main-card__info">
      <span class="main-card__date">
        Nov 22
      </span>
      <span class="main-card__read">
        10 Min read
      </span>
    </span>
  </div>
</a>
