.home-container {
  display: flex;
  flex-flow: column nowrap;
}

.cards {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  padding: 20px;
}

.cards__left {
  width: 50%;
}

.cards__right {
  width: 50%;
}

.cards__right p {
  text-transform: uppercase;
  transform: scaleY(0.8);
  font-size: 1.4rem;
  letter-spacing: .14rem;
}
