<div class="home-container">
  <app-card-cover></app-card-cover>
  <section class="cards">
    <div class="cards__left">
      <app-main-card
        [imageUrl]="'/assets/blog-img.jpg'"
        [title]="'Os maiores gatos da história do Brasil'"
        id="0"
      ></app-main-card>
    </div>
    <div class="cards__right">
      <p><strong>The latest</strong></p>
      <app-small-card
        [imageUrl]="'/assets/blog-img2.jpg'"
        [title]="'Os gatos realmente não gostam dos humanos?'"
        id="1"
      ></app-small-card>
      <app-small-card
        [imageUrl]="'/assets/blog-img3.jpg'"
        [title]="'274 motivos para você adotar um gato hoje mesmo!'"
        id="2"
      ></app-small-card>
      <app-contact-form></app-contact-form>
    </div>
  </section>
</div>
