<div class="home-container">
  <app-card-cover></app-card-cover>
  <section class="cards">
    <div class="cards__left">
      <app-main-card
        [imageUrl]="mainArticle.imageUrl"
        [title]="mainArticle.title"
        [id]="mainArticle.id"
      ></app-main-card>
    </div>
    <div class="cards__right">
      <p><strong>The latest</strong></p>
      <ul class="card__list">
        <li *ngFor='let item of featuredArticles'>
          <app-small-card
            [imageUrl]="item.imageUrl"
            [title]="item.title"
            [id]="item.id"
          ></app-small-card>
        </li>
      </ul>
      <app-contact-form></app-contact-form>
    </div>
  </section>
</div>
