.contact__container {
  margin: 10px;
  padding: 12px;
  border: 1px solid #00000042;
  border-radius: 3px;
}

.title {
  text-transform: uppercase;
  font-size: 1.12rem;
  color: #5091d2;
}

.sub {
  margin: 8px 0 14px;
  opacity: .8;
  font-size: 0.9rem;
}

form {
  background-color: blue;
  display: flex;
  justify-content: space-between;
  border: 1px solid #5091d2;
  border-radius: 3px;
}

form input {
  font-size: 0.9rem;
  outline: none;
  border-radius: 0;
  border: none;
}

.contact__email {
  width: 100%;
  padding: 8px 8px;
}

.contact__submit {
  color: #fff;
  background-color: #5091d2;
  text-transform: uppercase;
  padding: 6px 10px;

  cursor: pointer;
  transition: 400ms;
}

.contact__submit:hover {
  background-color: #2f73b6;
}
