.navbar__container {
  position: fixed;
  top: 0;
  margin-left: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 68px;
}

.navbar__toggle {
  background-color: #5091d2;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border: 2px solid #fff;
  border-radius: 100%;

  cursor: pointer;
  transition: 350ms;
}

.navbar__toggle:hover {
  background-color: #3e7bb8;
}

.navbar__list {
  display: none;
  padding-bottom: 10px;

  border: 2px solid #3e7bb8;
  border-radius: 4px;
  border-bottom-width: 4px;
  background-color: #fbfbf9;
  position: absolute;
  top: 60px;
  left: 0;
  width: min(calc(98vw - 20px), 280px)
}

.navbar__list.active {
  display: block;
}

.toggle__icon {
  background-color: #fbfbf9;
  display: inline-flex;
  justify-content: center;
  width: 20px;
  height: 2px;

  position: relative;
  transition: 400ms;
  transform: rotate(0deg);
}

.toggle__icon::before, .toggle__icon::after {
  content: '';
  background-color: inherit;
  display: block;
  width: 10px;
  height: 2px;
  top: -6px;
  position: absolute;
}

.toggle__icon::after {
  top: 6px;
}

.toggle__icon.active{
  transform: rotate(45deg);
}

.toggle__icon.active::before, .toggle__icon.active::after{
  width: 18px;
  height: 2px;
  top: 0;
}

.toggle__icon.active::after{
  transform: rotate(-90deg);
}

a {
  color: #515559;
  font-weight: 900;
  padding: 10px 0;
  margin: 2px 0;
  display: block;
  text-align: center;

  transition: 200ms;
  cursor: pointer;
}

a:hover {
  color: #5091d2;
}

hr {
  margin: 16px auto;
  border: 1px solid #0000002f;
  width: 60%;
}

.navbar__h2 {
  color: #00000047;
  display: block;
  margin: -15px 0 0 0;
  padding: 10px 0;

  font-weight: 900;
  font-size: .8rem;
  text-align: center;
  text-transform: uppercase;
  user-select: none;
}

.navbar__contact::after {
  background: url('/assets/box-arrow-up-right.svg') no-repeat;
  background-size: cover;
  content: '';
  display: inline-block;
  margin-left: .9rem;
  width: 1.1rem;
  height: 1.1rem;
  vertical-align: sub;

  visibility: visible;
  opacity: 1;
  transform: translateY(-2px);
}
